<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description,"Tweet", style: "display: block" %>
    <%= form.text_area :description,class: 'input-twitter mb-3' %>
  </div>

  <div>
    <%= form.label :username,"Username que twitea",style: "display: block" %>
    <%= form.text_field :username,class: 'input-twitter mb-3' %>
  </div>

  <!-- <div>
    <%= form.submit "Twittear",class: "btn-twitter" %>
  </div> -->
  <%= button_tag type: 'submit', class: 'btn-twitter' do %>
  <i class="fab fa-twitter-square ml-1"></i> Twittear
<% end %>
<% end %>
