<p style="color: green"><%= notice %></p>

<h1>Tu último Tweet <i class="fab fa-twitter-square"></i></h1> 
<%= render @tweet %>

<div>
  <%= link_to "Editar tweet", edit_tweet_path(@tweet), class: "btn-twitter" %> |
  <%= link_to "Volver", tweets_path, class: "btn-twitter" %>

  <%= button_to "Borrar tweet", @tweet, method: :delete, class: "btn-twitter mt-3" %>
</div>
